<% if (typeof parentId !== 'undefined' && parentId) { %>
<a href="/dashboard/folders/<%= parentId %>" class="btn"> Back </a>
<% } else { %>
<a href="/dashboard" class="btn"> Back to Dashboard </a>
<% } %>
