<% if (typeof parentId !== 'undefined' && parentId) { %>
<a href="/dashboard/folders/<%= parentId %>">
	<button>Back</button>
</a>
<% } else { %>
<a href="/dashboard">
	<button>Back to Dashboard</button>
</a>
<% } %>
