<div class="auth-container">
	<h1>Welcome</h1>
	<p>Please log in or sign up to continue.</p>
	<div style="margin-top: 1.5rem">
		<a href="/log-in" class="btn">Log In</a>
		<a href="/sign-up" class="btn" style="margin-left: 10px">Sign Up</a>
	</div>
</div>
