<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sign Up</title>
	</head>
	<body>
		<div class="auth-container">
			<h1>Sign Up</h1>
			<% if (errorMessages && errorMessages.length) { %>
			<div class="error"><%= errorMessages[0] %></div>
			<% } %>
			<form action="/sign-up" method="POST">
				<label for="username">Username</label>
				<input
					id="username"
					name="username"
					placeholder="username"
					type="text"
					value="<%= data.username || '' %>"
					required
				/><br />
				<label for="password">Password</label>
				<input
					id="password"
					name="password"
					type="password"
					placeholder="password"
					required
				/><br />
				<label for="password">Confirm Password</label>
				<input
					id="confirm-pw"
					name="passwordConfirmation"
					type="password"
					placeholder="password"
					required
				/><br />
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</body>
</html>
